@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.mobile {
  display: none;
}

.pc {
  display: block;
  width: 60%;
}

.pc-contents {
  width: 80%;
}

.mobile-contenst {
  width: 100%;
}

.mobile-text {
  font-size: 23px;
}
.pc-text {
  font-size: 53px;
}
@media screen and (max-width: 30em) {
  .mobile {
    display: block;
    width: 100%;
    height: 90%;
  }
  .pc {
    display: none;
  }
}
/* @media screen and (orientation: landscape) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
    height: 100%;
    width: 100%;
  }
  .mobile-text {
    font-size: 45px;
  }
} */
@media screen and (max-width: 60em) {
  .pc-contents {
    width: 100%;
  }
  .pc-text {
    font-size: 37px;
  }
}
@media screen and (min-width: 60em) {
}
